@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
html, body {
    font-family: "Josefin Slab", "Helvetica";
    color: #121212;
    background: radial-gradient(lightgrey, white);
    text-align: center;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    overflow: hidden;
}
.start {
    background: url("brick.webp");
}
.the_sarcastic_wonder {
    text-transform: uppercase;
    height: 180px;
    width: 260px;
    background: transparent;
    position: relative;
}
.the_sarcastic_wonder h1 {
    font-size: 2.8em;
    text-transform: lowercase;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
#randomWebsite {
    padding: 10px;
    padding-bottom: 2px;
    background-color: deepPink;
    margin: 10px;
    color: white;
    text-shadow: none;
    box-shadow: 1px 0px 1px #be3077, 0px 1px 1px hotpink, 2px 1px 1px #be3077,
        1px 2px 1px hotpink, 3px 2px 1px #be3077, 2px 3px 1px hotpink,
        4px 3px 1px #be3077, 3px 4px 1px hotpink, 5px 4px 1px #be3077,
        4px 5px 1px hotpink, 6px 5px 1px #be3077;
    cursor: pointer;
    display: inline-block;
    margin-top: 11px;
    box-sizing: border-box;
    border: 0px;
    font-size: 45px;
    font-weight: normal;
    font-family: "Josefin Slab", cursive;
    outline: 0px;
    border-radius: 8px;
    width: 400px;
    transition: all 1s;
    position: relative;
    user-select: none;
}
#randomWebsite:hover {
    background-color: rgb(154, 17, 90);
}
#preventCollidingText {
    display: block;
}
#likeTheWebsite {
    box-shadow: 1px 0px 1px #3a30be, 0px 1px 1px rgb(108, 105, 255), 2px 1px 1px #4330be,
        1px 2px 1px rgb(138, 105, 255), 3px 2px 1px #4f30be, 2px 3px 1px rgb(148, 105, 255),
        4px 3px 1px #6230be, 3px 4px 1px rgb(120, 105, 255), 5px 4px 1px #5130be,
        4px 5px 1px rgb(155, 105, 255), 6px 5px 1px #4530be;
    background: rgb(32, 54, 161);
    color: white;
    text-shadow: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 11px;
    box-sizing: border-box;
    border: 0px;
    font-size: 45px;
    font-weight: normal;
    font-family: "Josefin Slab", cursive;
    outline: 0px;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 2px;
}
#copyShare {
    box-shadow: 1px 0px 1px #3a30be, 0px 1px 1px rgb(108, 105, 255), 2px 1px 1px #4330be,
        1px 2px 1px rgb(138, 105, 255), 3px 2px 1px #4f30be, 2px 3px 1px rgb(148, 105, 255),
        4px 3px 1px #6230be, 3px 4px 1px rgb(120, 105, 255), 5px 4px 1px #5130be,
        4px 5px 1px rgb(155, 105, 255), 6px 5px 1px #4530be;
    background: rgb(32, 54, 161);
    color: white;
    text-shadow: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 11px;
    box-sizing: border-box;
    border: 0px;
    font-size: 45px;
    font-weight: normal;
    font-family: "Josefin Slab", cursive;
    outline: 0px;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 2px;
}
